.task-card {
  border: 1px solid transparent;
  border-radius: 0.3em;
  padding: 0.5em;
  padding-top: 0.6em;
  user-select: none;

  &:hover {
    background-color: #4e5a52;
  }

  &.completed {
    opacity: 0.6;
  }

  &:has(.expanded):not(:hover) {
    background-color: #4e5a522a;
  }
}

.task-card {
  display: grid;
  gap: 0.2em 0.1em;
  justify-content: space-between;
  justify-items: start;
  align-items: center;
  grid-template-columns: max-content min-content max-content 1fr max-content;
  grid-template-areas:
    "check title date expand delete"
    "expan expan  expan expan   expan";

  > .check-button {
    grid-area: check;
  }
  > .title {
    grid-area: title;
    align-self: baseline;
  }

  > .date-picker {
    align-self: baseline;
    grid-area: date;
  }

  > .expand-button {
    justify-self: start;
    grid-area: expand;
  }

  > .delete-button {
    grid-area: delete;
  }

  .expandable {
    grid-area: expan;
    justify-self: stretch;
  }

  .project-picker {
    margin-bottom: 0.2em;
  }

  .description {
    width: 100%;
  }
}

.task-card .title {
  margin-left: 0.1em;
}

.task-card .date-picker {
  font-size: 90%;
  line-height: 0.9rem;
  color: #fffa;
}

.task-card {
  & .icon-button:not(.check-button) {
    opacity: 0;
  }

  &:hover .icon-button:not(.check-button) {
    opacity: 1;
  }
}

.task-card .icon-button {
  background-color: transparent;

  &:hover {
    background-color: #0006;
  }

  img {
    filter: brightness(1);
  }
}

.task-card .check-button {
  border-radius: 2px;
}

.task-card .expand-button > img {
  transition: 150ms transform;
}
.task-card .expand-button.rotated > img {
  transform: rotate(90deg);
}

.task-card .delete-button {
  padding: 10%;
}
