/* .date-picker {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.35em;

  .date-input {
    user-select: none;
    opacity: 0;
    max-width: 24px;
    padding-right: 2px;
    border-radius: 50%;
  }

  .date-input,
  .date-formatted {
    opacity: 0;
  }

  &:hover {
    .date-input,
    .date-formatted {
      opacity: 1;
    }
  }

  .date-distance,
  .date-formatted {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
  }
} */

.date-picker {
  cursor: pointer;
  position: relative;
  input {
    position: absolute;
    visibility: hidden;
  }
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
} */
