.sidebar {
  max-width: 300px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: "Quantico";
  font-weight: bold;
  font-style: italic;

  a {
    text-decoration: inherit;
    color: inherit;
  }

  a:hover {
    text-decoration: revert;
  }
}

.sidebar h2 {
  margin-top: 0;
  font-size: 1.1rem;
}

.sidebar .collection-button {
  overflow: hidden;
  width: 100%;
  margin: 1.5px 0;
  padding: 0.5rem 1.75em;
  background: #28363a;
  border: none;
  color: inherit;
  border-radius: 1em;
  cursor: pointer;
  text-align: left;
}

.sidebar .collection-button:hover {
  background: #39535a;
}

.sidebar .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75em;
}

.sidebar .icon-button {
  background-color: transparent;

  &:hover {
    background-color: #fff3;
  }
}
