.icon-button {
  padding: 0;
  border: none;
  user-select: none;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button.two-sided.side-a :nth-child(2) {
  display: none;
}

.icon-button.two-sided.side-b :nth-child(1) {
  display: none;
}