.field-element {
  field-sizing: content;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;

  padding: 0.1em 0.2em;

  &:focus {
    cursor: text;
    border: none;
    outline: 1px solid #0006;
    background-color: #0004;
  }

  background-color: #0000;
  &:hover {
    background-color: #0004;
  }
}

.field-element.title {
  font-weight: 600;
}

.field-element.description {
  width: 100%;
  resize: none;
}

.field-element[readonly] {
  cursor: text;
  outline: none;
  background-color: transparent;
}

/* select.field-element {

  &:hover{
    background-color: red;
    cursor:ew-resize;
  }
} */
