.field-element {
  field-sizing: content;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;

  padding: 0.1em 0.2em;

  &:focus {
    cursor: text;
    border: none;
    outline: 1px solid #0006;
    background-color: #0004;
  }

  background-color: #0000;
  &:hover {
    background-color: #0004;
  }
}

.field-element.title {
  font-weight: 600;
}

.field-element.description {
  width: 100%;
  resize: none;
}

.field-element[readonly] {
  cursor: text;
  outline: none;
  background-color: transparent;
}

select.field-element,
.field-element::picker(select) {
  appearance: base-select;
}

select.field-element::picker-icon {
  content: url("@icons/arrow.svg");
  filter: brightness(0.3);
  height: 24px;
}

select.field-element {
  display: flex;
  &::picker-icon {
    color: #0009;
    transition: 150ms transform;
  }

  &:open::picker-icon {
    transform: rotate(90deg);
  }

  > option {
    border-radius: 0.25em;
    margin: 0.4em;
    border: none;
    outline: none;
  }

  > option::checkmark {
    margin-left: auto;
    order: 1;
  }
}

.field-element::picker(select) {
  border-radius: inherit;
  border: none;
  outline: none;
}
