* {
  transition: background-color 150ms ease-in-out, opacity 150ms ease-in-out;
}

.hidden {
  visibility: hidden;
}

/* .main {
  border: 1px solid red;
} */

body {
  background-color: rgb(255, 213, 227);
}
