.project-view {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  .description {
    min-height: 3em;
  }

  .add-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .add-label {
      padding-right: 0.5em;
      font-size: 0.8rem;
      cursor: pointer;
      opacity: 0;
      color: #888;
      transition: opacity 300ms;
    }

    &:hover .add-label {
      opacity: 1;
    }

    .add-button {
      border: none;
      outline: 1px solid transparent;
      padding: 0;

      width: 24px;
      /* background-color: black; */

      transition: outline 300ms;
      &:hover {
        outline: 1px solid #888;
      }

      img {
        filter: brightness(0);
      }
    }
  }
}
