.project-button {
  border-radius: 0.75em;
  color: #fff;
  background-color: #1d63a0;
  text-align: left;
  padding: 0.25em 0.75em;

  &:hover {
    background-color: #3682c5;
  }

  &:active {
    background-color: #124e83;;
  }

  display: flex;
  justify-content: space-between;
  align-items: baseline;
 
  .pending {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    aspect-ratio: 1;
    font-weight: 300;
    font-size: 0.8rem;
    background-color: #fff;
    color: #1d63a0;
    border-radius: 50%;
  }
}
