.task-card {
  height: max-content;
  background-color: rgb(214, 214, 214);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  border: none;
  text-align: left;

  &:hover {
    background-color: rgb(175, 175, 175);
  }

  &:active {
    background-color: rgb(143, 143, 143);
  }

  > * {
    --horizontal-padding: 0.5em;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);

    display: block;
  }

  input {
    font-weight: 600;
  }

  input,
  textarea {
    field-sizing: content;
    border: none;
    border-radius: 0.25em;
    background-color: #0000;

    &:hover {
      background-color: #0004;
    }

    &:focus {
      border: none;
      outline: 1px solid #0000;
      background-color: #0004;
    }
  }

  .date-formatted {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
  }

  .date-distance {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
  }

  p {
    font-size: 0.85rem;
  }

  textarea {
    /* width: 100%; */
    min-height: 2rem; /* Optional: Sets a minimum height for better visual appearance */
    resize: none; /* Optional: Disables manual resizing by the user */
  }
}

.completed {
  opacity: 0.6;
}
