.expandable {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 500ms ease;
  opacity: 0;
}

.expandable.expanded {
  grid-template-rows: 1fr;
  opacity: 1;
}

.inner {
    padding: 1px;
  overflow: hidden;
}

/* .expandable.expanded .inner {
  overflow: unset;
} */
