.task-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

  >.icon-button {
    width: 24px;
  }

  .task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
